if SHIELD_SPLITERGOLL_DONGLE

config ZMK_KEYBOARD_NAME
    default "splitergoll"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif


if SHIELD_SPLITERGOLL_DONGLE || SHIELD_SPLITERGOLL_LEFT || SHIELD_SPLITERGOLL_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif