if SHIELD_SPLITERGOLL_LEFT

config ZMK_KEYBOARD_NAME
    default "splitergoll"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITERGOLL_LEFT || SHIELD_SPLITERGOLL_RIGHT

config ZMK_SPLIT
    default y

endif