// ZMK files
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Includes
#include "function.h"
#include "layers.h"
#include "french_layout/windows.h"
#include "french_layout/macos.h"


// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃          Params          ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// Symbols signification
// `+` means `double tap` or `tap dance`
// `->` means `hold tap`
// `ou` means `Shift + key`

// Alias
#define no___ &none
#define trs__  &trans


// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃         Default          ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// TODO: Tripple tap to lock a layer
// Todo: one tap shift to unlock caps lock

// Tap dance                                              |   1 tap   |   2 taps   |
// ------------------------------------------------------ | --------- | ---------- |
TAP_DANCE_2(sftnlock, &kp LSHIFT, &kp CAPS)            // | Shift     | Caps lock  |
TAP_DANCE_2(layer_PRI, &mo PRIMARY, &mo SECONDARY)     // | Layer 2   | Layer 4    |
TAP_DANCE_2(layer_SEC, &mo SECONDARY, &mo PRIMARY)     // | Layer 4   | Layer 2    |

// Shift mod
MORPH(comm_qmark, LSFT, &kp FR_COMMA, &kp FR_QMARK)    // , and ?
MORPH(dot_excl, LSFT, &kp FR_DOT, &kp FR_EXCL)         // . and !
MORPH(semi_slsh, LSFT, &kp FR_SEMI, &kp FR_SLASH)      // ; and /
MORPH(colon_bsls, LSFT, &kp FR_COLON, &kp FR_BSLASH)   // : and backslash

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃    ESC    ┃     A     ┃     Z     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃   BSPACE  ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃    TAB    ┃     Q     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     M     ┃    DEL    ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃     W     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃  , ou ?   ┃  . ou !   ┃  ; ou /   ┃  : ou \   ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃Play->Mute ┃ ┃   CTRL    ┃    ALT    ┃ Layer SEC ┃   SPACE   ┃   ┃SHIFT+CAPS ┃ Layer PRI ┃   ENTER   ┃    WIN    ┃ ┃ To MACOS  ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(WINDOWS,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    &kp ESC     &kp FR_A    &kp FR_Z    &kp FR_E    &kp FR_R    &kp FR_T 
    &kp TAB     &kp FR_Q    &kp FR_S    &kp FR_D    &kp FR_F    &kp FR_G
                &kp FR_W    &kp FR_X    &kp FR_C    &kp FR_V    &kp FR_B
            &mt C_MUTE C_PP &kp LCTRL   &kp LALT    &layer_SEC  &kp SPACE
                                                                                &kp FR_Y    &kp FR_U    &kp FR_I    &kp FR_O    &kp FR_P    &kp BSPC
                                                                                &kp FR_H    &kp FR_J    &kp FR_K    &kp FR_L    &kp FR_M    &kp DEL
                                                                                &kp FR_N    &comm_qmark &dot_excl   &semi_slsh  &colon_bsls
                                                                                &sftnlock   &layer_PRI  &kp ENTER   &kp LGUI    &to MACOS
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT)

MORPH(mac_dot_excl, LSFT, &kp FR_DOT, &kp MAC_EXCL)         // . and !
MORPH(mac_colon_bsls, LSFT, &kp FR_COLON, &kp MAC_BSLASH)   // : and backslash

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃  . ou !   ┃           ┃  : ou \   ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃  COMMAND  ┃  OPTION   ┃           ┃           ┃   ┃           ┃           ┃           ┃  CONTROL  ┃ ┃To WINDOWS ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(MACOS,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    trs__       trs__       trs__       trs__       trs__       trs__
    trs__       trs__       trs__       trs__       trs__       trs__
                trs__       trs__       trs__       trs__       trs__
                trs__       &kp MAC_CMD &kp MAC_OPN trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__     &mac_dot_excl trs__       &mac_colon_bsls
                                                                                trs__       trs__       trs__       &kp MAC_CTL &to WINDOWS
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)





// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃         Primary          ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// Alias
#define CLEFT LC(LEFT)
#define CRIGHT LC(RIGHT)
#define WCLEFT LG(LC(LEFT))
#define WCRIGHT LG(LC(RIGHT))
#define WCNEW LG(LC(D))
#define WCSHW LG(TAB)
#define WCDEL LG(LC(F4))

// Macros
/ {
    macros {
        // Write "win"
        win: win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <70>;
            tap-ms = <70>;
            bindings
                = <&kp FR_W &kp FR_I &kp FR_N &kp FR_D &kp FR_O &kp FR_W &kp FR_S>
                , <&kp BSPC &kp BSPC &kp BSPC &kp BSPC &kp BSPC &kp BSPC &kp BSPC>
        ;};
        
        // Write "mac"
        mac: mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <70>;
            tap-ms = <70>;
            bindings
                = <&kp FR_M &kp FR_A &kp FR_C &kp FR_O &kp FR_S>
                , <&kp BSPC &kp BSPC &kp BSPC &kp BSPC &kp BSPC>
        ;};
    };
};

// TODO: ADD WINDOWS DESKTOP MOVES ??

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃Del desktop┃   HOME    ┃Show desktp┃    END    ┃New desktop┃   ┃     "     ┃     (     ┃     )     ┃     [     ┃     ]     ┃   BSPACE  ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃Left desktp┃     ←     ┃     ↑     ┃     →     ┃Right deskp┃   ┃     '     ┃     {     ┃     }     ┃     <     ┃     >     ┃    DEL    ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃  CTRL ←   ┃     ↓     ┃   CTRL →  ┃           ┃   ┃     `     ┃     #     ┃     &     ┃     |     ┃     @     ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃           ┃           ┃           ┃   SHIFT   ┃   ┃   SHIFT   ┃           ┃           ┃           ┃ ┃   "win"   ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(PRIMARY,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    no___       &kp WCDEL   &kp HOME    &kp WCSHW   &kp END     &kp WCNEW
    no___       &kp WCLEFT  &kp LEFT    &kp UP      &kp RIGHT   &kp WCRIGHT
                no___       &kp CLEFT   &kp DOWN    &kp CRIGHT  no___
                no___       trs__       trs__       trs__       &kp LSHIFT
                                                                                &kp FR_QUOT &kp FR_LPAR &kp FR_RPAR &kp FR_LCRO &kp FR_RCRO trs__
                                                                                &kp FR_SQUO &kp FR_LACC &kp FR_RACC &kp FR_LCHE &kp FR_RCHE trs__
                                                                                &fr_grv     &kp FR_HASH &kp FR_AND  &kp FR_PIPE &kp FR_AT
                                                                                &kp LSHIFT  trs__       trs__       trs__       &win
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp LEFT RIGHT &inc_dec_kp UP DOWN)

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃  COMMAND  ┃  OPTION   ┃           ┃           ┃   ┃           ┃           ┃           ┃  CONTROL  ┃ ┃   "mac"   ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(PRIMARY_MACOS,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    trs__       trs__       trs__       trs__       trs__       trs__
    trs__       trs__       trs__       trs__       trs__       trs__
                trs__       trs__       trs__       trs__       trs__
                trs__       &kp MAC_CMD &kp MAC_OPN trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       &kp MAC_CTL &mac
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)





// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃         Secondary        ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// Tap dance                                                |   1 tap   |   2 taps   |   3 taps   |
// -------------------------------------------------------- | --------- | ---------- | ---------- |
TAP_DANCE_3(ag_agu_ac, &fr_ag,   &fr_ac,   &fr_agu)      // | à         | â          | À          |
TAP_DANCE_2(ec_ecu,    &fr_ec,   &fr_ecu)                // | ê         | Ê          |            |
TAP_DANCE_2(ea_eau,    &fr_ea,   &fr_eau)                // | é         | É          |            |
TAP_DANCE_2(eg_et,     &fr_eg,   &fr_et)                 // | è         | ë          |            |
TAP_DANCE_2(cc_ccu,    &fr_cc,   &fr_ccu)                // | ç         | Ç          |            |
TAP_DANCE_3(ug_uc,     &fr_ug,   &fr_uc,   &fr_mu)       // | ù         | û          | μ          |
TAP_DANCE_2(ic_it,     &fr_ic,   &fr_it)                 // | î         | ï          |            |
TAP_DANCE_2(oc_ocu,    &fr_oc,   &fr_ocu)                // | ô         | Ô          |            |
TAP_DANCE_2(oe_oeu,    &fr_oe,   &fr_oeu)                // | œ         | Œ          |            |
TAP_DANCE_3(nb_2_3, &kp FR_NUMB, &kp FR_EX2, &kp FR_EX3) // | °         | ²          | ³          |

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃   BSPACE  ┃   œ + Œ   ┃ ° + ² + ³ ┃     _     ┃     -     ┃     +     ┃   ┃     =     ┃     7     ┃     8     ┃     9     ┃     €     ┃   BSPACE  ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃    DEL    ┃   ô + Ô   ┃   é + É   ┃   ê + Ê   ┃   è + ë   ┃     *     ┃   ┃     0     ┃     4     ┃     5     ┃     6     ┃     $     ┃    DEL    ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃   î + ï   ┃ ù + û + μ ┃   ç + Ç   ┃ à + À + â ┃     /     ┃   ┃     .     ┃     1     ┃     2     ┃     3     ┃     %     ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃   ENTER   ┃           ┃           ┃           ┃   ┃   SPACE   ┃           ┃           ┃           ┃ ┃           ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(SECONDARY,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    &kp BSPC    &oe_oeu     &nb_2_3     &kp FR_UDSC &kp FR_MINS &kp FR_PLUS
    &kp DEL     &oc_ocu     &ea_eau     &ec_ecu     &eg_et      &kp FR_ASTR
                &ic_it      &ug_uc      &cc_ccu     &ag_agu_ac  &kp FR_DIVI
                no___       &kp ENTER   trs__       trs__       trs__
                                                                                &kp FR_EQAL &kp FR_7    &kp FR_8    &kp FR_9    &kp FR_EURO trs__
                                                                                &kp FR_0    &kp FR_4    &kp FR_5    &kp FR_6    &kp FR_DOLR trs__
                                                                                &kp KP_DOT  &kp FR_1    &kp FR_2    &kp FR_3    &kp FR_PERC
                                                                                &kp SPACE   trs__       trs__       trs__       no___
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp LEFT RIGHT &inc_dec_kp UP DOWN)

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃           ┃  OPTION   ┃           ┃           ┃   ┃           ┃           ┃           ┃  CONTROL  ┃ ┃           ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(SECONDARY_MACOS,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    trs__       trs__       trs__       trs__       trs__       trs__
    trs__       trs__       trs__       trs__       trs__       trs__
                trs__       trs__       trs__       trs__       trs__
                no___       trs__       &kp MAC_OPN trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       trs__       trs__
                                                                                trs__       trs__       trs__       &kp MAC_CTL no___
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)





// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃         Tertiary         ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃    F1     ┃    F2     ┃    F3     ┃    F4     ┃    F5     ┃    F6     ┃   ┃    F7     ┃    F8     ┃    F9     ┃    F10    ┃    F11    ┃    F12    ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃   Reset   ┃           ┃           ┃           ┃           ┃Rec Screen ┃   ┃           ┃           ┃           ┃           ┃ ALT + F4  ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃Print Scree┃   ┃   To L8   ┃           ┃           ┃           ┃           ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃ Bootloader┃ ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃ ┃Del BT link┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(TERTIARY,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6
    &sys_reset  no___       no___       no___       no___       &kp LS(PSCRN) 
                no___       no___       no___       no___       &kp LC(PSCRN)
                &bootloader no___       no___       trs__       no___
                                                                                &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12
                                                                                no___       no___       no___       no___       &kp LA(F4)  no___
                                                                                &to 8       no___       no___       no___       no___
                                                                                no___       trs__       no___       no___       &bt BT_CLR_ALL
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT)

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃ ┃           ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(TERTIARY_MACOS,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    trs__       trs__       trs__       trs__       trs__       trs__
    trs__       no___       no___       no___       no___       no___
                no___       no___       no___       no___       no___
                trs__       no___       no___       trs__       no___
                                                                                trs__       trs__       trs__       trs__       trs__       trs__
                                                                                no___       no___       no___       no___       no___       no___
                                                                                no___       no___       no___       no___       no___
                                                                                no___       trs__       no___       no___       &bt BT_CLR_ALL
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)





// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┓
// ┃          Gaming          ┃
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━┛

// Tap dance
// TAP_DANCE_2(no_esc, &none, &kp ESC) // No -> ESC

// Alias
#define NV_FPS LC(F9)
#define NV_Dsh LC(F12)
#define NV_Swth LC(F10)

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃    ESC    ┃     A     ┃     Z     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃   BSPACE  ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃    Tab    ┃     Q     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     M     ┃    DEL    ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃     W     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃  , ou ?   ┃  . ou !   ┃  ; ou /   ┃  : ou \   ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃   To L0   ┃ ┃     +     ┃     -     ┃     /     ┃   SPACE   ┃   ┃   SHIFT   ┃     L9    ┃   ENTER   ┃    WIN    ┃ ┃           ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(GAMING,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    &kp ESC     &kp FR_A    &kp FR_Z    &kp FR_E    &kp FR_R    &kp FR_T 
    &kp TAB     &kp FR_Q    &kp FR_S    &kp FR_D    &kp FR_F    &kp FR_G
                &kp FR_W    &kp FR_X    &kp FR_C    &kp FR_V    &kp FR_B
                &to 0      &kp FR_PLUS &kp FR_MINS &kp FR_SLASH &kp SPACE
                                                                                &kp FR_Y    &kp FR_U    &kp FR_I    &kp FR_O    &kp FR_P    &kp BSPC
                                                                                &kp FR_H    &kp FR_J    &kp FR_K    &kp FR_L    &kp FR_M    &kp DEL
                                                                                &kp FR_N    &comm_qmark &dot_excl   &semi_slsh  &colon_bsls
                                                                                &kp LSHIFT  &mo 9       &kp ENTER   &kp LGUI    no___
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)

// ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
// ┗━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┛
//             ┃           ┃           ┃           ┃           ┃           ┃   ┃NVidia FPS ┃NV Dashboad┃ NV Switch ┃           ┃           ┃
//             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//           ┏━━━━━━━━━━━┓ ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓ ┏━━━━━━━━━━━┓
//           ┃           ┃ ┃   CTRL    ┃    ALT    ┃           ┃           ┃   ┃           ┃     L9    ┃           ┃           ┃ ┃           ┃
//           ┗━━━━━━━━━━━┛ ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛ ┗━━━━━━━━━━━┛
LAYER(GAMING_2,
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
    trs__       no___       no___       no___       no___       no___
    trs__       no___       no___       no___       no___       no___
                no___       no___       no___       no___       no___
                no___       &kp LCTRL   &kp LALT    no___       trs__
                                                                                no___       no___       no___       no___       no___       trs__
                                                                                no___       no___       no___       no___       no___       trs__
                                                                                &kp NV_FPS  &kp NV_Dsh  &kp NV_Swth no___       no___
                                                                                trs__       trs__       trs__       trs__       no___
// ┃           ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃           ┃           ┃           ┃
, &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP)